<script>
    var _paq = window._paq = window._paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.geotribu.fr"]);
    _paq.push(["setDomains", ["*.geotribu.fr","*.preview-pullrequest-409--geotribu-preprod.netlify.app","*.static.geotribu.fr"]]);
    _paq.push(["enableCrossDomainLinking"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "{{ config.extra.anlytics.matomo_url }}/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript>
    <p><img src="{{ config.extra.analytics.matomo_url }}/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p>
</noscript>
