-i https://pypi.org/simple

# Project requirements
# -----------------------

mkdocs-awesome-pages-plugin==2.2.*
# mkdocs-git-revision-date-localized-plugin==0.4.*
https://github.com/Guts/mkdocs-git-revision-date-localized-plugin/archive/ignore-git-exceptions.zip
mkdocs-material==4.6.*
mkdocs-minify-plugin==0.2.*
markdown-include==0.5.*
pymdown-extensions==6.*
