Arnaud Vandecasteele <arnaud.sig@gmail.com>

Aurélien Chaumet <aurelienchaumet17@gmail.com>
Aurélien Chaumet <aurelienchaumet17@gmail.com> <aurelienchaumet16@gmail.com>
Aurélien Chaumet <aurelienchaumet17@gmail.com> <58778032+aurelienchaumet@users.noreply.github.com>

Fabien Goblet <fabien.goblet@gmail.com>

Florian Boret <florian.boret@data-wax.com>
Florian Boret <florian.boret@data-wax.com> <florian.boret@laposte.net>

Françoise Bahoken <fbahoken@users.noreply.github.com>

Guillaume Sueur <gsueur@neogeo.fr>

Julien Ancelin <julien.ancelin@inra.fr>

Julien Moura <dev@ingeoveritas.com>
Julien Moura <dev@ingeoveritas.com> <Guts@users.noreply.github.com>

Mathieu Bossaert <mathieu.bossaert@cen-occitanie.org>
Mathieu Bossaert <mathieu.bossaert@cen-occitanie.org> <mathieu.bossaert@cenlr.org>

Mathieu Rajerison <mathieu.rajerison@gmail.com>
Mathieu Rajerison <mathieu.rajerison@gmail.com> <mathieu.rajerison@cerema.fr>

Nicolas Rochard <Doctor-Who@users.noreply.github.com>

Pierre Vernier <pvernier82@gmail.com>
Pierre Vernier <pvernier82@gmail.com> <pierre.vernier@ecmwf.int>

Robin Bourianes <robin.bourianes@kalisio.com>
Robin Bourianes <robin.bourianes@kalisio.com> <robin.bourianes@gmail.com>

Thomas Michel <65945567+ThomasIdgeo@users.noreply.github.com>

Yves Jacolin <yves.jacolin@camptocamp.com>

Xavier Culos <xavier.culos@eau-adour-garonne.fr>
