Arnaud Vandecasteele <arnaud.sig@gmail.com>

Augustin Trancart <augustin.trancart@gmail.com>

Aurélien Chaumet <aurelienchaumet17@gmail.com>
Aurélien Chaumet <aurelienchaumet17@gmail.com> <aurelienchaumet16@gmail.com>
Aurélien Chaumet <aurelienchaumet17@gmail.com> <aurelienchaumet@users.noreply.github.com>
Aurélien Chaumet <aurelienchaumet17@gmail.com> <58778032+aurelienchaumet@users.noreply.github.com>

Benoît Blanc <benoitblanc@live.com>
Benoît Blanc <benoitblanc@live.com> <benoit.blanc@oslandia.com>

Benjamin Chartier <2361255+bchartier@users.noreply.github.com>

Cedric Rossi <cedric@terramater.net>

David Michallet <davidmichallet@users.noreply.github.com>

Delphine Montagne <delphine.montagne@univ-pau.fr>
Delphine Montagne <delphine.montagne@univ-pau.fr> <alinemontdephgne@aol.com>
Delphine Montagne <delphine.montagne@univ-pau.fr> <17273438+KazeNoOni@users.noreply.github.com>

Étienne Delay <etienne.delay@cirad.fr>

Fabien Goblet <fabien.goblet@gmail.com>
Fabien Goblet <fabien.goblet@gmail.com> <fg@sogefi-sig.com>

Florent Fougères <florent.fougeres@gmail.com>
Florent Fougères <florent.fougeres@gmail.com> <florent.fougeres@oslandia.com>
Florent Fougères <florent.fougeres@gmail.com> <36446612+florentfgrs@users.noreply.github.com>

Florian Boret <florian.boret@data-wax.com>
Florian Boret <florian.boret@data-wax.com> <florian.boret@laposte.net>
Florian Boret <florian.boret@data-wax.com> <igeofr@users.noreply.github.com>

Françoise Bahoken <fbahoken@users.noreply.github.com>

Gabriel Poujol <gpoujol@openig.org>
Gabriel Poujol <gpoujol@openig.org> <gabriel.poujol@cirad.fr>
Gabriel Poujol <gpoujol@openig.org> <gabriel.poujol@gmail.com>
Gabriel Poujol <gpoujol@openig.org> <99724707+Gab-OPenIG@users.noreply.github.com>

Geotribot <geotribu+bot@gmail.com>
Geotribot <geotribu+bot@gmail.com> <66853113+pre-commit-ci[bot]@users.noreply.github.com>
Geotribot <geotribu+bot@gmail.com> <27856297+dependabot-preview[bot]@users.noreply.github.com>
Geotribot <geotribu+bot@gmail.com> <49699333+dependabot[bot]@users.noreply.github.com>

Guillaume Sueur <gsueur@neogeo.fr>

Guilhem Allaman <dev@guilhemallaman.net>
Guilhem Allaman <dev@guilhemallaman.net> <40383801+gounux@users.noreply.github.com>
Guilhem Allaman <dev@guilhemallaman.net> <contact@guilhemallaman.net>
Guilhem Allaman <dev@guilhemallaman.net> <gounux@users.noreply.github.com>

Humbert Fiorino <humbert.fiorino@imag.fr>
Humbert Fiorino <humbert.fiorino@imag.fr> <fiorinoh@users.noreply.github.com>

Jean-Baptiste Desbas <jb.desbas@gmail.com>

Jean-Marc Viglino <jean-marc.viglino@ign.fr>

Jérémie Prud'homme <p.jeremie@gmail.com>

Jérémie Hanke <70693383+sigps@users.noreply.github.com>
Jérémie Hanke <70693383+sigps@users.noreply.github.com> <sigps@outlook.fr>

Jérémy Garniaux <jeremy@mapper.fr>

Julien Ancelin <julien.ancelin@inra.fr>

Julien Moura <dev@ingeoveritas.com>
Julien Moura <dev@ingeoveritas.com> <Guts@users.noreply.github.com>

Laurent Jégou <jegou@univ-tlse2.fr>

Lilan Morinon <contact@utagawavtt.com>
Lilan Morinon <contact@utagawavtt.com> <16464382+utagawal@users.noreply.github.com>

Loïc Bartoletti <loic.bartoletti@oslandia.com>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <lbartoletti@users.noreply.github.com>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <lbartoletti@tuxfamily.org>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <lituus@free.fr>

Maël Reboux <m.reboux@rennesmetropole.fr>
Maël Reboux <m.reboux@rennesmetropole.fr> <mael.reboux@georchestra.org>

Mathieu Bossaert <mathieu.bossaert@cen-occitanie.org>
Mathieu Bossaert <mathieu.bossaert@cen-occitanie.org> <mathieu.bossaert@cenlr.org>

Mathieu Rajerison <mathieu.rajerison@gmail.com>
Mathieu Rajerison <mathieu.rajerison@gmail.com> <mathieu.rajerison@cerema.fr>

Mathilde Ferrey <45847618+mferrey@users.noreply.github.com>

Michaël Galien <michael.galien@gard.fr>
Michaël Galien <michael.galien@gard.fr> <64089998+michael-cd30@users.noreply.github.com>

Nicolas David <nicolas.david@ign.fr>

Nicolas Godet <39594821+nicogodet@users.noreply.github.com>
Nicolas Godet <39594821+nicogodet@users.noreply.github.com> <nicolas.godet@outlook.fr>

Nicolas Rochard <Doctor-Who@users.noreply.github.com>

Nicolas Roelandt <roelandtn.pro@gmail.com>
Nicolas Roelandt <roelandtn.pro@gmail.com> <nicolas.roelandt[at]univ-eiffel.fr>
Nicolas Roelandt <roelandtn.pro@gmail.com> <17683898+Bakaniko@users.noreply.github.com>

Olivia Guyot <olivia.guyot@camptocamp.com>

Patrick Gendre <patgendre94@gmail.com>

Pierre Vernier <pvernier82@gmail.com>
Pierre Vernier <pvernier82@gmail.com> <pierre.vernier@ecmwf.int>

Pierre-François Blin <pierrefrancois.blin@gmail.com>

Robin Bourianes <robin.bourianes@kalisio.com>
Robin Bourianes <robin.bourianes@kalisio.com> <robin.bourianes@gmail.com>

Romain Lacroix <romain.lacroix@free.fr>
Romain Lacroix <romain.lacroix@free.fr> <rxlacroix@users.noreply.github.com>

Samuel Deschamps-Berger <samuel.deschampsberger@geovelo.fr>
Samuel Deschamps-Berger <samuel.deschampsberger@geovelo.fr> <samDB-gv@users.noreply.github.com>
Samuel Deschamps-Berger <samuel.deschampsberger@geovelo.fr> <61581253+samDB-gv@users.noreply.github.com>

Stéphane Mével-Viannay <mviewer@bretagne.bzh>

Stéphane Ritzenthaler <34446202+stephyritz@users.noreply.github.com>

Stéphane Rolle <47242457+stephanerolle@users.noreply.github.com>

Sylvain Kerdreux <sylvain.kerdreux@gmail.com>

Théo Grondin <97178883+theogron@users.noreply.github.com>

Thomas Gratier <thomas_gratier@yahoo.fr>

Thomas Michel <65945567+ThomasIdgeo@users.noreply.github.com>

Thomas Szczurek-Gayant <thomas.szczurek@gmail.com>
Thomas Szczurek-Gayant <thomas.szczurek@gmail.com> <121474664+thomas-szczurek@users.noreply.github.com>

Tristram Gräbener <tristram+git@tristramg.eu>
Tristram Gräbener <tristram+git@tristramg.eu> <tristram+github@tristramg.eu>

Utagawa VTT <16464382+utagawal@users.noreply.github.com>

Valérian Lebert <vlebert@digi-stud.io>
Valérian Lebert <vlebert@digi-stud.io> <vlebert@users.noreply.github.com>
Valérian Lebert <vlebert@digi-stud.io> <49779177+vlebert@users.noreply.github.com>

Victor Alexandre <valexandre@users.noreply.github.com>

Vincent Picavet <vpicavet@users.noreply.github.com>

Xavier Culos <xavier.culos@eau-adour-garonne.fr>

Xavier Thauvin <xavier.thauvin@ign.fr>

Yann Chambon <126060687+yannchambon@users.noreply.github.com>

Yves Jacolin <yves.jacolin@camptocamp.com>
