services:
  website:
    container_name: geotribu-mkdocs-site
    image: geotribu-static-mkdocs
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - GIT_PYTHON_REFRESH=warn
    ports:
      - 8000:8000
    volumes:
      - ./content/:/app
    command: mkdocs serve --dirtyreload --dev-addr=0.0.0.0:8000
