# Project information
site_name: Geotribu
site_description: >-
  Site indépendant de veille sur la géomatique libre et open source.
  Articles, tutoriels et revues de presse (#GeoRDP) sur
  l'information géographique, les SIG, la cartographie, la représentation des données...

site_author: Geotribu
site_url: https://static.geotribu.fr/
copyright: '<span class="copyleft">&copy;</span> Geotribu'

# Repository
repo_name: "geotribu/website"
repo_url: "https://github.com/geotribu/website"
edit_uri: "edit/master/content"

# Custom folder structure
docs_dir: "./content"
site_dir: "./build/mkdocs/site"

# Plugins
plugins:
  - awesome-pages
  - exclude:
      glob:
        - "*/templates/*"
        - "*.yml"
  - git-authors:
      show_contribution: true
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true
      locale: fr
  - minify:
      minify_html: true
      minify_js: false
      htmlmin_opts:
        remove_comments: true
  - rss:
      abstract_chars_count: 500
      comments_path: "#__comments"
      date_from_meta:
        as_creation: "date"
        as_update: false
        datetime_format: "%Y-%m-%d %H:%M"
      image: "https://cdn.geotribu.fr/img/internal/charte/geotribu_logo_64x64.png"
      length: 40
      match_path: "(articles|rdp)/.*"
      pretty_print: true
      url_parameters:
        utm_source: "rss-feed"
        utm_medium: "RSS"
        utm_campaign: "feed-syndication"
  - search:
      lang: fr
      prebuild_index: !ENV MKDOCS_SEARCH_PREBUILD_INDEX
      separator: '[\s\-\.]+'
  - macros:
      include_dir: content/toc_nav_ignored/snippets
  - redirects:
      redirect_maps:
        # RSS
        "rss.md": "https://static.geotribu.fr/feed_rss_created.xml"
        # contenus
        "dicogis.md": "articles/2014/art_2014-09-25_dicogis.md"
        "GeoRDP/20161028.md": "rdp/2016/rdp_2016-10-14.md"
        "node/270.md": "articles/2010/art_2010-06-11.md"
        "node/348.md": "rdp/2011/rdp_2011-02-25.md"
        "node/423.md": "articles/2011/art_2011-06-15.md"
        "node/462.md": "articles/2011/art_2011-11-09.md"
        "node/488.md": "rdp/2012/rdp_2012-01-13.md"
        "node/520.md": "articles/2012/art_2012-06-21.md"
        "node/532.md": "articles/2012/art_2012-07-12.md"
        "node/636.md": "articles/2013/art_2013-09-26.md"
        # correction de la structure initiale de la résurrection
        "rdp/rdp_2020-04-30.md": "rdp/2020/rdp_2020-04-30.md"
        # geogames
        "node/668.md": "articles/2013/art_2013-10-30_geogame_mots_croises_outils_sig.md"
        "node/671.md": "https://geotribu.github.io/geogames/"
        "node/675.md": "articles/2013/art_2013-11-20_geogame_mots_croises_webmapping.md"
        "node/679.md": "articles/2014/art_2014-01-08_geogame_qcm_histoire_cartographie.md"
        "node/689.md": "articles/2014/art_2014-01-22_geogame_qcm_cassini_bertin.md"
        "node/680.md": "articles/2014/art_2014-03-19_geogame_pendu_geomatique.md"
        # recent moves
        "acknowledgements.md": "team/index.md"
        "install_webapp.md": "articles/2020/2020-03-20_installer_site_comme_application.md"

# Theme
theme:
  name: "material"
  custom_dir: "./content/theme/"
  favicon: "https://cdn.geotribu.fr/img/internal/charte/geotribu_logo_64x64.png"

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  features:
    - navigation.expand
    - navigation.tabs
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
  font: false
  icon:
    repo: fontawesome/brands/github-alt
  language: fr
  logo: "https://cdn.geotribu.fr/img/internal/charte/geotribu_logo_64x64.png"
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: deep-orange
      toggle:
        icon: material/weather-sunny
        name: Basculer en mode sombre

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      accent: deep-orange
      toggle:
        icon: material/weather-night
        name: Basculer en mode clair

# Customization
extra:
  analytics:
    provider: google
    property: !ENV MKDOCS_GOOGLE_ANALYTICS_KEY
  comments_url: https://comments.geotribu.fr # isso url
  manifest: "manifest.webmanifest" # PWA declaration
  social:
    - icon: "fontawesome/solid/rss"
      link: "https://static.geotribu.fr/feed_rss_created.xml"
      name: "S'abonner aux nouveaux contenus via RSS"
    - icon: "fontawesome/brands/github-alt"
      link: "https://github.com/geotribu/"
      name: "L'organisation Github de Geotribu"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/geotribu"
      name: "Geotribu sur Twitter"
    - icon: "fontawesome/brands/linkedin"
      link: "https://www.linkedin.com/feed/hashtag/?keywords=geotribu"
      name: "Les contenus de Geotribu sur LinkedIn"
    - icon: "fontawesome/brands/facebook"
      link: "https://fr-fr.facebook.com/geotribu/"
      name: "Page Facebook de Geotribu"
    - icon: fontawesome/solid/paper-plane
      link: mailto:<geotribu@gmail.com>
      name: "Nous contacter"
    - icon: "fontawesome/brands/slack"
      link: "https://geotribu.slack.com"
      name: "Rejoignez-nous sur Slack"

extra_css:
  - "theme/assets/stylesheets/extra.css"
  - "https://cdn.jsdelivr.net/npm/wa-mediabox@1.0.1/dist/wa-mediabox.min.css"

extra_javascript:
  - "theme/assets/javascripts/extra.js"
  - "https://cdn.jsdelivr.net/npm/wa-mediabox@1.0.1/dist/wa-mediabox.min.js"
  - "https://unpkg.com/mermaid@8.6.4/dist/mermaid.min.js"

# Extensions to enhance markdown - see: https://squidfunk.github.io/mkdocs-material/getting-started/#extensions
markdown_extensions:
  - attr_list
  # Admonition - https://squidfunk.github.io/mkdocs-material/extensions/admonition/
  - admonition
  # Footnotes - https://squidfunk.github.io/mkdocs-material/reference/footnotes/
  - footnotes
  # Metadata - https://squidfunk.github.io/mkdocs-material/extensions/metadata
  - meta
  # PyMdown extensions - https://squidfunk.github.io/mkdocs-material/extensions/pymdown/
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols
  # https://facelessuser.github.io/pymdown-extensions/extensions/snippets/
  - pymdownx.snippets:
      base_path: "."
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.tabbed
  - pymdownx.tilde
  # Permalinks - https://squidfunk.github.io/mkdocs-material/extensions/permalinks/
  - toc:
      permalink: "#"

# Navigation - Menu organization
# # Disabled to use auto detection
# nav:
#   - Accueil: index.md
