# Project information
site_name: Geotribu
site_description: >-
  Site indépendant de veille sur la géomatique libre.
  Retrouvez nos articles, tutoriels et nos revues de presse (#GeoRDP) sur
  l'information géographique, les SIG, la cartographie, la représentation des données géographiques...
  Globalement, tout ce qui mêle géographie et informatique.

site_author: Geotribu
site_url: https://static.geotribu.fr/
copyright: '<span class="copyleft">&copy;</span> Geotribu'

# Repository
repo_name: 'geotribu/website'
repo_url: 'https://github.com/geotribu/website'
edit_uri: 'edit/master/content'

# Custom folder structure
docs_dir: './content'
site_dir: './build/mkdocs/site'

# Plugins
plugins:
  - awesome-pages
  - git-authors:
      show_contribution: true
  - git-revision-date-localized:
      fallback_to_build_date: true
  - minify:
      minify_html: true
      minify_js: false
      htmlmin_opts:
        remove_comments: true
  - rss:
      abstract_chars_count: 500
      image: "https://cdn.geotribu.fr/img/internal/charte/geotribu_logo_64x64.png"
      length: 50
  - search:
      lang: fr
      prebuild_index: !!python/object/apply:os.getenv ["MKDOCS_SEARCH_PREBUILD_INDEX"]
      separator: '[\s\-\.]+'
  - redirects:
      redirect_maps:
        "dicogis.md": "articles/2014/art_2014-09-25_dicogis.md"
        "node/348.md": "rdp/2011/rdp_2011-02-25.md"
        "node/462.md": "articles/2011/art_2011-11-09.md"
        "node/488.md": "rdp/2012/rdp_2012-01-13.md"
        "node/636.md": "articles/2013/art_2013-09-26.md"
        "rdp/rdp_2020-04-30.md": "rdp/2020/rdp_2020-04-30.md"
        # geogames
        "node/668.md": "articles/2013/art_2013-10-30_geogame_mots_croises_outils_sig.md"
        "node/671.md": "https://geotribu.github.io/geogames/"
        "node/675.md": "articles/2013/art_2013-11-20_geogame_mots_croises_webmapping.md"

# Theme
theme:
  name: 'material'
  custom_dir: './content/theme/'
  favicon: "https://cdn.geotribu.fr/img/internal/charte/geotribu_logo_64x64.png"

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  features:
    - navigation.tabs
    - navigation.instant
  font: false
  icon:
    repo: fontawesome/brands/github-alt
  language: 'fr'
  logo: "https://cdn.geotribu.fr/img/internal/charte/geotribu_logo_64x64.png"
  palette:
    accent: deep-orange
    primary: teal
    scheme: preference

# Integrations with 3rd party
google_analytics:
  - 'UA-162113930-1'
  - 'auto'

# Customization
extra:
  disqus: 'geotribu-static'  # comment system
  manifest: 'manifest.webmanifest'  # PWA declaration
  social:
    - icon: 'fontawesome/solid/rss'
      link: 'https://static.geotribu.fr/feed_rss_created.xml'
      name: "S'abonner aux nouveaux contenus via RSS"
    - icon: 'fontawesome/brands/github-alt'
      link: 'https://github.com/geotribu/'
      name: "L'organisation Github de Geotribu"
    - icon: 'fontawesome/brands/twitter'
      link: 'https://twitter.com/search?q=%23GeoRDP&src=typed_query&f=live'
      name: "La #GeoRDP de Geotribu sur Twitter"
    - icon: 'fontawesome/brands/facebook'
      link: 'https://fr-fr.facebook.com/geotribu/'
      name: "Page Facebook de Geotribu"
    - icon: fontawesome/solid/paper-plane
      link: mailto:<geotribu@gmail.com>
      name: "Nous contacter"
    - icon: 'fontawesome/brands/slack'
      link: 'https://geotribu.slack.com'
      name: "Rejoignez-nous sur Slack"

extra_css:
  - 'theme/assets/stylesheets/extra.css'
  - 'https://cdn.jsdelivr.net/npm/wa-mediabox@1.0.1/dist/wa-mediabox.min.css'

extra_javascript:
  - 'theme/assets/javascripts/extra.js'
  - 'https://cdn.jsdelivr.net/npm/wa-mediabox@1.0.1/dist/wa-mediabox.min.js'
  - 'https://unpkg.com/mermaid@8.6.4/dist/mermaid.min.js'


# Extensions to enhance markdown - see: https://squidfunk.github.io/mkdocs-material/getting-started/#extensions
markdown_extensions:
  - attr_list
  # Admonition - https://squidfunk.github.io/mkdocs-material/extensions/admonition/
  - admonition
  # Metadata - https://squidfunk.github.io/mkdocs-material/extensions/metadata
  - meta
  - pymdownx.details
  # PyMdown extensions - https://squidfunk.github.io/mkdocs-material/extensions/pymdown/
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols
  # https://facelessuser.github.io/pymdown-extensions/extensions/snippets/
  - pymdownx.snippets:
      base_path: '.'
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.tabbed
  - pymdownx.tilde
  # Permalinks - https://squidfunk.github.io/mkdocs-material/extensions/permalinks/
  - toc:
      permalink: ⚓

# Navigation - Menu organization
# # Disabled to use auto detection
# nav:
#   - Accueil: index.md
