-i https://pypi.org/simple

# Common requirements
# -----------------------
setuptools
wheel

# Development
# -----------------------
pre-commit==2.4.*

# Project requirements
# -----------------------

-r src/mkdocs/requirements.txt   # using mkdocs
