# Insiders
# --------

git+https://${GH_TOKEN_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git@9.5.7-insiders-4.52.1#egg=mkdocs-material
# git+https://${GH_TOKEN_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git

# social plugin requirements
cairosvg~=2.7
Pillow>=10,<10.3

-r requirements.txt
