# Insiders
# --------

git+https://${GH_TOKEN_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git@9.5.21-insiders-4.53.8#egg=mkdocs-material
# git+https://${GH_TOKEN_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git

# social plugin requirements
cairosvg~=2.7
Pillow>=10,<10.4

-r requirements.txt
