# Insiders
# --------

git+https://${GH_TOKEN_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git@8.5.10-insiders-4.26.3#egg=mkdocs-material
# git+https://${GH_TOKEN_MATERIAL_INSIDERS}@github.com/squidfunk/mkdocs-material-insiders.git

mkdocs-git-committers-plugin-2>=1,<2

-r requirements.txt
