/* Apply box shadow on smaller screens that don't display tabs */
@media only screen and (max-width: 1220px) {
  .md-header {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1),
      0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    transition: color 250ms, background-color 250ms, box-shadow 250ms;
  }
}

/* Hide main content for now */
.md-content {
  display: none;
}

/* Hide table of contents */
@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }
}

/* Hero */
.tx-container {
  padding-top: 0rem;
  background: linear-gradient(
    to bottom,
    var(--md-primary-fg-color),
    #56c29e 99%,
    #fff 99%
  );
}

.tx-hero {
  color: var(--md-primary-bg-color);
  margin: 15px;
  max-width: 100%;
  justify-content: center;
  padding: 0.1rem;
  text-align: center;
}

.tx-hero h1 {
  color: currentColor;
  font-size: 2.41rem !important;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 1rem;
  order: 1;
}

.tx-hero p {
  color: currentColor;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  order: 2;
}

.tx-hero__title {
  margin: 10px;
  max-height: 15px;
}

.tx-hero__content {
  padding-bottom: 1rem;
  margin: auto;
}

.tx-hero__image {
  align-items: stretch;
  display: flex;
  height: auto;
  margin: 0 auto;
  min-width: 200px;
  width: 100%;
}

.tx-hero__image img {
  border: none;
  box-shadow: none;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}

/* Secondary content styles */
.secondary-section {
  /* background: rgb(245, 245, 245) none repeat scroll 0% 0%; */
  background: var(--md-default-bg-color) none repeat scroll 0% 0%;
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
}
@media screen and (max-width: 1012px) {
  .secondary-section {
    display: block;
  }
}

.secondary-section .g {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px;
  max-width: 1280px;
}

.secondary-section .g .section {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  padding: 75px 0px 116px;
}

.secondary-section .g .section.follow {
  padding-top: 0px;
}

.secondary-section .g .section .component-wrapper {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}

@media screen and (max-width: 1012px) {
  .secondary-section .g .section .component-wrapper {
    display: block;
  }
}

.secondary-section .g .section .component-wrapper h3 {
  color: var(--md-default-fg-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: normal;
  margin-bottom: 12px;
}

.secondary-section .g .section .component-wrapper h4 {
  color: var(--md-default-fg-color--light);
}

.secondary-section .g .section .component-wrapper p {
  color: var(--md-default-fg-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  margin-bottom: 16px;
}

.secondary-section .g .section .component-wrapper .image-wrapper {
  align-items: stretch;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 8px;
  box-shadow: rgba(202, 202, 202, 0.15) 0px 0px 0px 6px;
  display: flex;
  height: auto;
  margin: 0 auto;
  margin-bottom: 12px;
  margin-top: 48px;
  max-width: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.secondary-section .g .section .component-wrapper .image-wrapper:hover {
  border-radius: 10px;
  box-shadow: var(--md-accent-fg-color--transparent) 0.3125rem 0.3125rem 0px -0.0625rem,
    var(--md-accent-bg-color--light) 2px 0.25rem 0.5rem 0px;
}

.image-wrapper img {
  display: block;
  height: 100%;
  max-height: 400px;
  min-width: 0;
  width: 100%;
}

.image-wrapper:hover img {
  opacity: 0.85;
}

.secondary-section
  .g
  .section
  .component-wrapper
  .image-wrapper
  .image-overlay {
  background: var(--md-default-bg-color--light);
  bottom: 5px;
  color: var(--md-default-fg-color);
  font-size: 0.65rem;
  font-weight: 400;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  transition: 0.5s ease;
  width: 100%;
}

.secondary-section
  .g
  .section
  .component-wrapper
  .image-wrapper:hover
  .image-overlay {
  opacity: 1;
}

.secondary-section .g .section .component-wrapper .first-column {
  padding-right: 100px;
  flex: 0 1 auto;
  height: auto;
  width: 50%;
}

@media screen and (max-width: 1012px) {
  .secondary-section .g .section .component-wrapper .first-column {
    padding-right: 0px;
    width: 100%;
    margin-bottom: 32px;
  }
}

.secondary-section .g .section .component-wrapper .second-column {
  flex: 0 1 auto;
  height: auto;
  width: 50%;
}
@media screen and (max-width: 1012px) {
  .secondary-section .g .section .component-wrapper .second-column {
    width: 100%;
    margin-bottom: 32px;
  }
}

.secondary-section .g .section .component-wrapper .responsive-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 64rem) {
  .secondary-section .g .section .component-wrapper .responsive-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.secondary-section
  .g
  .section
  .component-wrapper
  .responsive-grid
  a.card-wrapper {
  text-decoration: none;
  transition: none;
  background: none;
  padding: 0;
}

.secondary-section .g .section .component-wrapper .responsive-grid .card {
  position: relative;
  background-color: var(--md-primary-bg-color) none repeat scroll 0% 0%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  height: 100%;
  -moz-box-pack: start;
  justify-content: flex-start;
  box-shadow: var(--md-default-fg-color--lightest) 0.3125rem 0.3125rem 0px -0.0625rem,
    var(--md-accent-bg-color) 0px 0.25rem 0.5rem 0px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.secondary-section .g .section .component-wrapper .responsive-grid .card:hover {
  box-shadow: var(--md-accent-fg-color--transparent) 0.3125rem 0.3125rem 0px -0.0625rem,
    var(--md-accent-bg-color--light) 0px 0.25rem 0.5rem 0px;
}

@media screen and (min-width: 75rem) {
  .secondary-section .g .section .component-wrapper .responsive-grid .card {
    padding: 2rem 2.5rem;
  }
}
@media screen and (min-width: 36rem) {
  .secondary-section .g .section .component-wrapper .responsive-grid .card {
    padding: 1rem 1.5rem;
  }
}

.secondary-section .g .section .component-wrapper .responsive-grid .card .logo {
  fill: currentColor;
  margin-right: 0.75rem;
  min-width: 1.2rem;
  width: 1.2rem;
}

.secondary-section
  .g
  .section
  .component-wrapper
  .responsive-grid
  .card
  .card-content {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 100%;
}

.secondary-section
  .g
  .section
  .component-wrapper
  .responsive-grid
  .card
  .card-content
  h5 {
  color: var(--md-primary-fg-color);
  margin: 0;
}

.secondary-section
  .g
  .section
  .component-wrapper
  .responsive-grid
  .card
  .card-content
  p {
  margin-top: 0.25em;
  margin-bottom: 0;
  color: var(--md-default-fg-color);
  font-size: 0.65rem;
  font-weight: 300;
  line-height: normal;
}

.secondary-section
  .g
  .section
  .component-wrapper
  .responsive-grid
  .card
  .card-content
  code {
  background: var(--md-default-bg-color) none repeat scroll 0% 0%;
  padding: 2px 6px;
  border-radius: 4px;
}

@media screen and (min-width: 64rem) {
  .four-cols .g .section .component-wrapper .responsive-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.four-cols .g .section .component-wrapper .first-column {
  width: 100%;
}

@media screen and (max-width: 1012px) {
  .four-cols .g .section .component-wrapper .first-column {
    padding-right: 0px;
    width: 100%;
    margin-bottom: 32px;
  }
}

.component-wrapper span.em {
  color: var(--md-accent-fg-color);
}

.component-wrapper .responsive-grid a {
  transition: color 125ms;
  color: rgb(61, 61, 61);
  background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
  padding: 2px 6px;
  margin: 0px 1px;
  border-radius: 4px;
  display: inline;
  cursor: pointer;
  font-weight: 600;
}

.component-wrapper .responsive-grid a:hover {
  color: var(--md-typeset-a-color);
  background: var(--md-accent-fg-color--transparent);
}
