{% if page.meta.comments %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<script data-isso="{{ config.extra.comments_url }}/" data-isso-reply-notifications-default-enabled="true"
    data-isso-reply-notifications="true" data-isso-vote="true" src="{{ config.extra.comments_url }}/js/embed.min.js">
    </script>
<hr>
<section id="isso-thread">
    <small>
        Une version minimale de la <a href="/contribuer/guides/markdown_basics/" hreflang="fr" target="_blank">syntaxe
            markdown</a> est
        acceptée pour la mise en forme des commentaires.<br>Propulsé par <a href="https://posativ.org/isso/"
            hreflang="en" target="_blank">Isso</a>. </small>
</section>
<noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}
