{% if page.meta.comments %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<script data-isso="{{ config.extra.comments_url }}/" data-isso-reply-notifications-default-enabled="true"
    data-isso-reply-notifications="true" data-isso-vote="true" src="{{ config.extra.comments_url }}/js/embed.min.js">
    </script>
<div class="footnote">
    Afin de favoriser les échanges constructifs, merci de préférer le <a href="https://fr.wikipedia.org/wiki/Pseudonymat" hreflang="fr" target="_blank" title="Page Wikipédia détaillant le pseudonymat"><b>pseudonymat</b></a> à l'anonymat. Pour rappel, l'adresse mail n'est pas exposée publiquement. Consulter la <a href="{{ config.site_url }}team/confidentialite/#commentaires" target="_blank">page sur la confidentialité et les données personnelles</a>.
    <br>
    Une version minimale de la <a
        href="https://docs.framasoft.org/fr/grav/markdown.html"
        hreflang="fr"
        target="_blank"
        >
        syntaxe markdown
        </a>
    est acceptée pour la mise en forme des commentaires.
    <br>
    Propulsé par <a href="https://posativ.org/isso/" hreflang="en" target="_blank">Isso</a>.
</div>

<section id="isso-thread">

</section>
<noscript>Merci d'activer JavaScript pour voir les commentaires.</noscript>
{% endif %}
