{% if related_pages and "related_content" not in (page.meta.hide or []) %}
<div class="{{ related_content_css_class }}">
    <h2>{{ related_content_section_title }}</h2>
    <ul>
        {% for r in related_pages %}
        <li><a href="{{ r.url }}">{{ r.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
