git-committers:
  enabled: !ENV [MKDOCS_ENABLE_PLUGIN_GIT_COMMITTERS, false]
  branch: master
  cache_dir:
    !ENV [
      MKDOCS_PLUGIN_GIT_COMMITTERS_CACHE_DIR,
      .cache/plugins/git-committers/,
    ]
  docs_path: content/
  exclude_committers:
    - pre-commit-ci[bot]
    - web-flow
  repository: geotribu/website
  token: !ENV ["MKDOCS_GIT_COMMITTERS_APIKEY"]
