{% extends "main.html" %}

{% block styles %}
{{ super() }}

<link rel=stylesheet href=theme/assets/stylesheets/homepage.css>
{% endblock %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<div class="tx-container">
  <div class="md-grid md-typeset">
    <div class="tx-hero">
      <div class="tx-hero__title">
        <h1 style="visibility: hidden">Geotribu</h1>
      </div>
      <div class="tx-hero__image">
        <img src="https://cdn.geotribu.fr/img/internal/charte/geotribu_logo_rectangle_384x80.png" alt="Bannière Geotribu"
          draggable="false" title="logo Geotribu">
      </div>
      <div class="tx-hero__content">
        <p>Site collaboratif sur la géomatique <span class="em">libre</span> et <span
            class="em">ouverte</span>.</p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Content -->
<div class="md-container secondary-section">
  <div class="g">
    <!-- Revues de presse -->
    <div class="section">
      <div class="component-wrapper">
        <div class="first-column">
          <h3>Revues de presse</h3>
          <p>
            Un vendredi sur deux, c'est <span class="em">GeoRDP</span> ! Un condensé d'actualités
            sur l'écosystème de l'information géographique, concocté à plusieurs mains.
          </p>
          <p>
            Nouveautés des logiciels, clients cartographiques, serveurs géographiques, applications mobiles,
            modes de représentation graphique, Open Data, événements, OpenStreetMap... C'est ouvert !
          </p>
        </div>
        <div class="second-column">
          <div class="image-wrapper">
            <img src="https://cdn.geotribu.fr/img/articles-blog-rdp/capture-ecran/cnes_canal_suez.png" alt=""
              draggable="false">
          </div>
        </div>
      </div>

      <div class="component-wrapper" style="display: block;">
        <h4>Participer</h4>

        <!-- Arch as code -->
        <div class="responsive-grid">
          <a class="card-wrapper" href="docs/manifest/overview">
            <div class="card">
              <div class="logo">
                <span class="twemoji">
                   {#  {% include ".icons/octicons/file-code-24.svg" %} #}
                </span>
              </div>
              <div class="card-content">
                <h5>Proposer une actualité</h5>
                <p>
                  Mail ? GitHub ?.
                </p>
              </div>
            </div>
          </a>

          <!-- Networking -->
          <a class="card-wrapper" href="docs/developing/service-discovery">
            <div class="card">
              <div class="logo">
                <span class="twemoji">
                  {% include ".icons/fontawesome/solid/network-wired.svg" %}
                </span>
              </div>
              <div class="card-content">
                <h5>Indépendance</h5>
                <p>
                  Geotribu n'est rattaché à aucune structure. La parole y est donc
                  libre de toute démarche publicitaire.
                </p>
              </div>
            </div>
          </a>

          <!-- Customize -->
          <a class="card-wrapper" href="docs/developing/additional-aws-resources/">
            <div class="card">
              <div class="logo">
                <span class="twemoji">
                  {% include ".icons/fontawesome/solid/puzzle-piece.svg" %}
                </span>
              </div>
              <div class="card-content">
                <h5>Qualité</h5>
                <p>
                  blablabla.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Articles -->
    <div class="section follow">
      <div class="component-wrapper">
        <div class="second-column">
          <h3>Articles</h3>
          <p>
            En plus des revues de presse Tutoriel, dossiers, billets d'humeur, blog-note, partage d'expérience,
            présentation d'un outil
          </p>
        </div>
        <div class="first-column">
          <div class="image-wrapper">
            <img src="https://cdn.geotribu.fr/img/projets-geotribu/plugin_qtribu/qtribu_article_displayed.png" alt=""
              draggable="false">
          </div>
        </div>
      </div>
      <div class="component-wrapper" style="display: block;">
        <h4>Explorer les articles</h4>

        <!-- Environments -->
        <div class="responsive-grid">
          <a class="card-wrapper" href="/contribuer/workflow_article/">
            <div class="card">
              <div class="logo">
                <span class="twemoji">
                   {# {% include ".icons/octicons/copy-24.svg" %} #}
                </span>
              </div>
              <div class="card-content">
                <h5>Collaboratif</h5>
                <p>
                  Proposer un article
                </p>
              </div>
            </div>
          </a>

          <!-- Customize -->
          <a class="card-wrapper" href="docs/commands/pipeline-init/">
            <div class="card">
              <div class="logo">
                <span class="twemoji">
                  {# {% include ".icons/aws/codepipeline-32.svg" %} #}
                </span>
              </div>
              <div class="card-content">
                <h5>Automated releases</h5>
                <p>
                  Create a continuous delivery pipeline with built-in commands.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Light footer -->
{% block footer %}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <!-- Copyright and theme information -->
      <div class="md-footer-copyright">
        {% if config.copyright %}
        <div class="md-footer-copyright__highlight">
          {{ config.copyright }}
        </div>
        {% endif %}
        Généré avec
        <a href="https://www.mkdocs.org" title="MkDocs">MkDocs</a>
        et le thème
        <a href="https://squidfunk.github.io/mkdocs-material/" title="Material for MkDocs">
          Material for MkDocs</a>
      </div>
      {% block social %}
      {% include "partials/social.html" %}
      {% endblock %}
    </div>
  </div>
</footer>
{% endblock %}
