{% extends "base.html" %}

{% block extrahead %}
{# SEO Robots #}
{% if page and page.meta and page.meta.robots %}
<meta property="robots" content="{{ page.meta.robots }}" />
{% elif page and "toc_nav_ignored/snippets" in page.canonical_url %}
<meta property="robots" content="noindex,nofollow" />
{% else %}
<meta property="robots" content="index, follow" />
{% endif %}

{# Meta title #}
{% set title = config.site_name %}
{% if page and page.meta and page.meta.title %}
{% set title = title ~ " - " ~ page.meta.title %}
{% elif page and page.title and not page.is_homepage %}
{% set title = title ~ " - " ~ page.title | striptags %}
{% endif %}

{# Meta date #}
{% if page and page.meta and page.meta.date %}
{% set date = page.meta.date %}
{% endif %}
{# Meta description #}
{% set description = config.site_description %}
{% if page and page.meta and page.meta.description %}
{% set description = page.meta.description | striptags %}
{% elif page and page.description and not page.is_homepage %}
{% set description = page.description | striptags %}
{% endif %}
{# Meta image #}
{% set image = 'https://cdn.geotribu.fr/img/internal/charte/geotribu_banner.jpg' %}
{% if page and page.meta and page.meta.image %}
{% set image = page.meta.image %}
{% endif %}
{# Meta author #}
{% set author = config.site_author %}
{% if page and page.meta and page.meta.authors and not page.is_homepage %}
{% set author = page.meta.authors %}
{% elif page and page.meta and page.meta.author and not page.is_homepage %}
{% set author = page.meta.author %}
{% endif %}

{% if author is iterable and (author is not string and author is not mapping) %}
{% for a in author %}
{% if author != config.site_author %}
<meta name="author" content="{{ a }}">
{% endif %}
{% endfor %}
{% elif author is string and author != config.site_author %}
<meta name="author" content="{{ author }}">
{% endif %}

{# Cache-control #}
<meta http-equiv="cache-control" content="max-age=14400" />
<meta http-equiv="cache-control" content="public">
<meta http-equiv="expires" content="43200" />

{# Meta type #}
{% if page.is_homepage %}
{% set type = "website" %}
{% else %}
{% set type = "article" %}
{% endif %}

{# Twitter #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@geojulien" />
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:dnt" content="on">
<meta name="twitter:site" content="@geotribu" />
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:widgets:align" content="center">

{# Semantic web - schemas.org #}
{% include "partials/schemas.html" %}
{% endblock %}


{% block content %}
{{ super() }}

{% include "partials/license.html" %}
{% endblock %}
