name: Markdown Linter

# Trigger
on:
  pull_request:
    branches: [ master ]
    paths:
      - "content/**/*.md"

jobs:
    lint-markdown:
      name: Lint markdown files
      runs-on: ubuntu-latest

      steps:
      - name: Set up NodeJS
        uses: actions/setup-node@v2.1.1
        with:
          node-version: '12'

      - name: Check out code
        uses: actions/checkout@v2

      - name: List files changes
        id: file_changes
        uses: trilom/file-changes-action@v1.2.3
        with:
          output: ' '

      # -- APPLY LINTER ------------------------------------------------------
      - name: Install markdown-cli
        id: dependencies
        run: yarn add markdownlint-cli --dev --non-interactive --no-lockfile --prefer-offline

      - name: Run markdownlint-cli on new files
        id: mdl_added
        run: yarn markdownlint -i "**/template_*.md" -o "markdown-lint-report-added.txt" ${{ steps.file_changes.outputs.files_added }}

      - name: Run markdownlint-cli on modified files
        id: mdl_modified
        if: success() || failure()
        run: yarn markdownlint -i "**/template_*.md" -o "markdown-lint-report-modified.txt" ${{ steps.file_changes.outputs.files_modified }}

      # -- REPORTING ARTEFACT ------------------------------------------------
      - name: Upload report
        id: report_upload
        if: success() || failure()
        uses: actions/upload-artifact@v2
        with:
          name: markdown-lint-report
          path: |
            markdown-lint-report-added.txt
            markdown-lint-report-modified.txt

      # -- USER INFORMATION --------------------------------------------------
      - name: Comment PR - Fail
        id: pr_comment
        if: failure()
        uses: mshick/add-pr-comment@v1
        with:
          message: |
           **Hello MASTER**
          allow-repeats: false
          repo-token: ${{ secrets.GITHUB_TOKEN }}
