name: Markdown Linter

# Trigger
on:
  pull_request:
    branches: [ master ]

jobs:
    lint-markdown:
      name: Lint markdown files
      runs-on: ubuntu-latest
      steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Lint changelog file
        uses: avto-dev/markdown-lint@v1
        with:
          config: '.markdown.lint.json'
