name: Markdown Linter

# Trigger
on:
  pull_request:
    branches: [ master ]

jobs:
    lint-markdown:
      name: Lint markdown files
      runs-on: ubuntu-latest

      steps:
      - name: Set up NodeJS
        uses: actions/setup-node@v2.1.1
        with:
          node-version: '12'

      - name: Check out code
        uses: actions/checkout@v2

      - name: Install markdown-cli
        run: yarn add markdownlint-cli --dev --non-interactive --no-lockfile --prefer-offline

      - name: Run markdownlint-cli
        run: yarn markdownlint -c .markdownlint.json -o "markdown-lint-report.txt" content/

      - name: Upload report
        uses: actions/upload-artifact@v2
        with:
          name: markdown-lint-report
          path: markdown-lint-report.txt
